@font-face {
  font-family: "refinery";
  src: url("../assets/refinery-25-regular.ttf");
}
@font-face {
  font-family: "orbitron-semibold";
  src: url("../assets/Orbitron-SemiBold.ttf");
}
@font-face {
  font-family: "orbitron-extrabold";
  src: url("../assets/Orbitron-ExtraBold.ttf");
}
@font-face {
  font-family: "cyberpunk";
  src: url("../assets/Cyberpunk-Regular.ttf");
}
body {
  background-color: #080808;
  margin: 0;
  padding: 0;
  background-image: url("/img/2077.jpg");
}

#body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

#title {
  color: #fdfff5;
  text-align: center;
  font-family: cyberpunk;
  line-height: 0;
  font-size: 30px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@media (min-width: 1020px) {
  #title {
    font-size: 50px;
  }
}
@media (max-width: 620px) {
  #title {
    font-size: 18px;
  }
}

#title-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
}
#title-buttons #or {
  font-family: orbitron-extrabold;
  color: #fdfff5;
  font-size: 26px;
  margin: auto 0;
  padding-left: 3%;
  padding-right: 3%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#playfield {
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
@media (max-width: 768px) {
  #playfield {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #playfield {
    width: 100%;
  }
}

.card-wrapper {
  position: relative;
  overflow: hidden;
  height: 700px;
  width: 400px;
  background-color: #080808;
}
@media (min-width: 768px) {
  .card-wrapper {
    border-radius: 5px;
  }
}
.card-wrapper .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.card-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 720px) {
  .card-wrapper:hover .desc, .card-wrapper:focus .desc, .card-wrapper:active .desc {
    transition: 0s;
    position: fixed;
    width: 80%;
    height: 25rem;
    top: 20%;
    left: 10%;
  }
}
@media (min-width: 720px) {
  .card-wrapper:hover .desc, .card-wrapper:focus .desc, .card-wrapper:active .desc {
    bottom: 0%;
  }
}
.card-wrapper .desc {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -100%;
  left: 0;
  background-color: rgba(8, 8, 8, 0.75);
  opacity: 1;
  transition: 0.3s ease-out;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}
.card-wrapper .desc h2 {
  font-family: orbitron-semibold;
  margin: 1rem 1rem;
}
.card-wrapper .desc p {
  font-family: refinery;
  margin: 1rem 1rem;
}
@media (min-width: 720px) {
  .card-wrapper .desc h2 {
    font-size: 34px;
  }
  .card-wrapper .desc p {
    font-size: 28px;
  }
}
@media (max-width: 719px) {
  .card-wrapper .desc p {
    font-size: 28px;
  }
}
@media (max-width: 360px) {
  .card-wrapper .desc p {
    font-size: 24px;
  }
}
.card-wrapper .desc * {
  color: #fdfff5;
  text-align: center;
}
.card-wrapper .desc #de,
.card-wrapper .desc #en {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-out;
  height: 80%;
  display: inline-block;
}
.card-wrapper .desc #de {
  transform: translateX(100%);
}

.lang-select {
  justify-content: center;
  position: relative;
  transition: 0.5s ease-out;
  bottom: -93%;
  z-index: 3;
  display: flex;
}
.lang-select .lang-en {
  background-color: #303030;
}
@media (max-width: 719px) {
  .lang-select {
    display: none;
  }
}
.lang-select a {
  text-align: center;
  width: 50%;
  background-color: #080808;
  padding: 7px;
  font-size: 28px;
  border-top: 1px solid #ff007f;
  text-decoration: none;
  font-family: orbitron-semibold;
  color: #fdfff5;
}
.lang-select a:hover {
  background-color: #303030;
  cursor: pointer;
}

#lang-select-top a {
  border: none;
}
@media (min-width: 720px) {
  #lang-select-top {
    display: none;
  }
}
@media (max-width: 719px) {
  #lang-select-top {
    display: flex;
  }
}

.button:hover {
  cursor: pointer;
}

.button,
.button::after {
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fdfff5;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f6;
  position: relative;
  font-family: orbitron-extrabold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@media (min-width: 720px) {
  .button,
  .button::after {
    width: 380px;
    height: 86px;
    font-size: 36px;
  }
}
@media (max-width: 719px) {
  .button,
  .button::after {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  .button,
  .button::after {
    font-size: 16px;
  }
}

.button::after {
  --slice-btn-0: inset(50% 50% 50% 50%);
  --slice-btn-1: inset(80% -6px 0 0);
  --slice-btn-2: inset(50% -6px 30% 0);
  --slice-btn-3: inset(10% -6px 85% 0);
  --slice-btn-4: inset(40% -6px 43% 0);
  --slice-btn-5: inset(80% -6px 5% 0);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  -webkit-clip-path: var(--slice-btn-0);
          clip-path: var(--slice-btn-0);
  transform: translate(-20px, 20px);
}

.button:hover::after {
  animation: 0.5s shadowAppear infinite alternate;
  animation-timing-function: steps(5, end);
}

@keyframes shadowAppear {
  0% {
    -webkit-clip-path: var(--slice-btn-2);
            clip-path: var(--slice-btn-2);
    transform: translate(10px, 10px);
  }
  10% {
    -webkit-clip-path: var(--slice-btn-1);
            clip-path: var(--slice-btn-1);
    transform: translate(-10px, -10px);
  }
  20% {
    -webkit-clip-path: var(--slice-btn-4);
            clip-path: var(--slice-btn-4);
    transform: translate(0, 5);
  }
  30% {
    -webkit-clip-path: var(--slice-btn-5);
            clip-path: var(--slice-btn-5);
    transform: translate(-2px, 0px);
  }
  40% {
    -webkit-clip-path: var(--slice-btn-2);
            clip-path: var(--slice-btn-2);
    transform: translate(15px, 5px);
  }
  50% {
    -webkit-clip-path: var(--slice-btn-1);
            clip-path: var(--slice-btn-1);
    transform: translate(8px, 0px);
  }
  60% {
    -webkit-clip-path: var(--slice-btn-3);
            clip-path: var(--slice-btn-3);
    transform: translate(-5px, 0px);
  }
  70% {
    -webkit-clip-path: var(--slice-btn-5);
            clip-path: var(--slice-btn-5);
    transform: translate(14px, 8px);
  }
  80% {
    -webkit-clip-path: var(--slice-btn-3);
            clip-path: var(--slice-btn-3);
    transform: translate(-8px, 3px);
  }
  90% {
    -webkit-clip-path: var(--slice-btn-1);
            clip-path: var(--slice-btn-1);
    transform: translate(5px, 10px);
  }
  100% {
    -webkit-clip-path: var(--slice-btn-2);
            clip-path: var(--slice-btn-2);
    transform: translate(0);
  }
}/*# sourceMappingURL=style.css.map */